/* google font cmd link  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* reset code start here  */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-size: 66.5%;
    scroll-behavior: smooth;
    background-color: #E8F9FF;
}
body{
    background-color: white;
    margin: auto;
    width: 110rem;
    max-width: 100%;
    box-shadow: .1rem .1rem .1rem #4c4c4c,-.1rem 0rem .1rem ;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
     font-style: normal;

}
main{
    margin: 1rem 6rem;
    background-image: url(/assets/bg.png);
}
img{
    width: 100%;
}

/* reset code end here  */
/* nav style code start here  */

.nav__img-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.nav__title{
    font-size:3vw;
    color: #000;
    font-weight: 800;
}
.nav__img-content{
    max-width: 20vw;
    max-height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1.5rem 3rem; */
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4rem;

}
.nav__ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}
.nav__link{
    font-size: 1.25rem;
    font-weight: 800;
    color: #000;
}
.text__color-2{
    color:#01ACFD ;
}
.text__color-1{
    color: #FEA301;
}
.text__color-3{
    color: #5D58EF;

}
.btn{
    font-size: 1.25rem;
    background-color: #FEA301;
    padding: 1rem 3rem;
    border: none;
    color: #FFFFFF;
    border-radius: 16px;
    cursor: pointer;
}
#menu__icon{
    display: none;
}
/* nav style code end here  */
/* banner style code start here  */
.banner__title{
    font-weight: 700;
    font-size:3.4vw;
    color: #111111;
    width: 90%;
}
.orange__span{
    color: #FEA301;
}
.sky__span{
    color: #01ACFD;
}
.banner__description{
    font-size: 1.4rem;
    font-weight: 400;
    color: #111111;
    width: 90%;
}
#banner-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin: 1.5rem 4rem ;
}
.banner__content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.banner__img-container{
    flex: 1;
}
.banner__btn{
    background-color: #111111;
}
/* banner style code emd here  */
/* .standard-section{
    /* background-image:url(/assets/bg.png); *
} */
.standard__card-container{

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}
.section__title{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    color: #000000;
    padding: 2rem 0;
}
.card__img{
    width: 50%;
}
.standard__card{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: .1rem .1rem .1rem #80808042;
    border-radius: 10px;
    margin-bottom: 2rem;

}
.card__title{
    font-weight: 800;
    font-size: 2rem;
    color: #202020;
}
.card__description{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: #808080;
}

.card-one{
    background-image: linear-gradient(180deg ,#11e7ce41 ,#ffffff00);

}
.card-two{
    background-image: linear-gradient(180deg ,#ff600328 ,#fff2e93f);


}
.card-three{
    background-image: linear-gradient(180deg ,#43405a31,#FFFFFF);
}
.card__btn-1{
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    background-color: #FFFFFF;
    color: #64C8FF;

}
.card__btn-2{
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    background-color: #FFFFFF;
    color: #F0AA00;

}
.card__btn-3{
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    background-color: #FFFFFF;

    color: #8700FF ;
}
/* aro section is style here  */
.aro__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    gap: 1rem;
}
.icon__btn{
    padding: 1rem 2rem;
    border-radius: 50%;
    cursor: pointer;
}
/* story section is start here  */
.stories-section{
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
}
.story__img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    flex: 1;
}
.story__container{
    flex: 1;
}
.story__container ,.sub__img{

    border-radius: 1rem;
    box-shadow: .1rem .1rem 1rem #000000;
}
#story__container,#sub__img{
    padding: 1rem 2rem;
}

/* it hard  */
.story__img{
    border-radius: 1rem 1rem 0 0;
}
.story__title{
    font-weight: 700;
    font-size: 2rem;
    color: #000000;
    margin: 2rem 0;
}
.sub__title{
    font-size: 1.5rem;
}
.story__description{
    font-size: 1.1rem;
    font-weight: 500;
    color: #666666;
    width: 80%;
    margin: 2rem 0;
}
.story__btn{
    background-color: #01ACFD;
    position: relative;
    top: -35px;

}
.sub-story__btn{
    position: relative;
    bottom: 30px;
    font-size: 1rem;
}
.last-story__btn{
    background-color: #000000;
    padding: 1rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  
}
/* responsive style code start here  */
@media screen and (max-width:600px)  {
    html{
        font-size: 48.5%;
    }
    
    .nav__ul{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #nav__menu ,
    .nav__title ,
    .nav__button ,
    .story__container,
    .icon__btn{
        display: none;
    }
    #menu__icon{
        display: block;
    }
    #banner-section{
        flex-direction: column-reverse;
    }
    .banner__content{
        justify-content: center;
        align-items: center;
    }
    .banner__title{
        font-size: 3.5rem;
        width: 100%;
        text-align: center;
    }
    .standard__card-container{
        flex-direction: column;
    }
    .story__img-container{
        /* grid-template-columns: repeat(1,1fr); */
        width: 90%;
    }
 
      
    
}
/* responsive style code end here  */


